{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Zhao's Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/zhaomengblog.css' %}" rel="stylesheet" media="screen">
		<style>
			#whole-body {
				margin-top:2%;
				margin-bottom:3%;
				margin-right:3%;
				margin-left:3%;
			}

			#main-body{
				margin-top:2%;
				margin-bottom:3%;
				margin-right:3%;
				margin-left:3%;
			}
		</style>
	</head>
	<body>
		<div id="whole-body">
			<div id="top-body">
			<ul class="breadcrumb">
				<li><a href="{% url 'imageblog_list' %}">Home</a> <span class="divider">/</span></li>
				{% if user.is_authenticated %}
				<li><a href="{% url 'imageblog_create' %}">New Blog</a> <span class="divider">/</span></li>
				<li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a> <span class="divider">/</span></li>
				{% else %}
				<li><a href="{% url 'login' %}">Login</a></li>
				{% endif	%}
				<li>Ouroborothon's</li>
			</ul>
			</div>
			<div id="main-body">
			{% block body %}
			
			{% endblock %}
			</div>
		</div>
		<a href="https://github.com/fortable1999/zhaomengblog"><img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-green@2x.png" alt="Fork me on GitHub"></a>
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
</html>
